<div class="form-public">
  <div class="card text-white bg-dark">
    <div class="card-header">
      <h2>Solicitar cambio de Contraseña</h2>
    </div>
    <div class="card-body">
      <form name="myForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="myForm">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label class="form-control-label required" for="username">Correo Electrónico</label>
              <input type="email" class="form-control" name="username" id="username" formControlName="username" />
              <div *ngIf="myForm.get('username')!.invalid && (myForm.get('username')!.dirty || myForm.get('username')!.touched)">
                <small class="form-text text-danger" *ngIf="myForm.get('username')?.errors?.required">
                  El campo es requerido.
                </small>
                <small class="form-text text-danger" *ngIf="myForm.get('username')?.errors?.maxlength">
                  El Correo Electrónico no puede contener más de 50 caracteres.
                </small>
                <small class="form-text text-danger" *ngIf="myForm.get('username')!.touched && myForm.get('username')?.errors?.email">
                  El Correo Electrónico es inválido.
                </small>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <small>NOTA: Solo tiene 3 horas posterior a realizar la solicitud para realizar el cambio.</small>
          </div>
        </div>
        <div class="button-form">
          <button type="button" class="btn btn-secondary" (click)="previousState()">
            <fa-icon icon="arrow-left"></fa-icon>&nbsp;Volver
          </button>
          <button type="submit" [disabled]="myForm.invalid || isSaving" class="btn btn-primary">Solicitar</button>
        </div>
      </form>
    </div>
  </div>
</div>