<div class="container">
  <h2>Detalle</h2>

  <dl *ngIf="resource">
    <dt>Descripción</dt>
    <dd>{{ resource.description }}</dd>
    <dt>Código</dt>
    <dd>{{ resource.code ? resource.code : '-' }}</dd>
    <dt>Tipo de Recuros</dt>
    <dd>{{ resource.resourceType.description }}</dd>
    <dt>Activo</dt>
    <dd>{{ resource.active ? 'Si' : 'No' }}</dd>
  </dl>

  <div class="button-form">
    <button type="button" class="btn btn-secondary" (click)="previousState()" title="Volver">
      <fa-icon icon="arrow-left"></fa-icon>&nbsp;Volver
  </button>

    <button *hasPermission="['resources.write']" type="button" [routerLink]="['../../', resource?.id, 'edit']" class="btn btn-primary" title="Editar">
      <fa-icon icon="pencil-alt"></fa-icon>&nbsp;Editar
    </button>
  </div>
</div>