<div class="form-public">
  <div class="card text-white bg-dark">
    <div class="card-header">
      <h2>Activar Cuenta</h2>
    </div>
    <div class="card-body">
      <form name="myForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="myForm">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label class="form-control-label required" for="password">Contraseña</label>
              <input type="password" class="form-control" name="password" id="password" formControlName="password" />
              <div
                *ngIf="myForm.get('password')!.invalid && (myForm.get('password')!.dirty || myForm.get('password')!.touched)">
                <small class="form-text text-danger" *ngIf="myForm.get('password')?.errors?.required">
                  El campo es requerido.
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label class="form-control-label required" for="passwordConfirm">Confirmar Contraseña</label>
              <input type="password" class="form-control" name="passwordConfirm" id="passwordConfirm" formControlName="passwordConfirm" />
              <div
                *ngIf="myForm.get('passwordConfirm')!.invalid && (myForm.get('passwordConfirm')!.dirty || myForm.get('passwordConfirm')!.touched)">
                <small class="form-text text-danger" *ngIf="myForm.get('passwordConfirm')?.errors?.required">
                  El campo es requerido.
                </small>
                <small class="form-text text-danger" *ngIf="!myForm.get('passwordConfirm')?.errors?.isMatching">
                  Las Contraseñas no coinciden.
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="button-form">
          <button type="button" class="btn btn-secondary" (click)="previousState()" title="Volver">
            <fa-icon icon="arrow-left"></fa-icon>&nbsp;Volver
          </button>
          <button type="submit" [disabled]="myForm.invalid || isSaving" class="btn btn-primary" title="Activar">Activar</button>
        </div>
      </form>
    </div>
  </div>
</div>