<div class="container">
  <form name="myForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="myForm">
    <h2>Cambiar Contraseña</h2>

    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label class="form-control-label required" for="currentPassword">Contraseña Actual</label>
          <input type="password" class="form-control" name="currentPassword" id="currentPassword" formControlName="currentPassword" />
          <div
            *ngIf="myForm.get('currentPassword')!.invalid && (myForm.get('currentPassword')!.dirty || myForm.get('currentPassword')!.touched)">
            <small class="form-text text-danger" *ngIf="myForm.get('currentPassword')?.errors?.required">
              El campo es requerido.
            </small>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label class="form-control-label required" for="password">Contraseña</label>
          <input type="password" class="form-control" name="password" id="password" formControlName="password" />
          <div
            *ngIf="myForm.get('password')!.invalid && (myForm.get('password')!.dirty || myForm.get('password')!.touched)">
            <small class="form-text text-danger" *ngIf="myForm.get('password')?.errors?.required">
              El campo es requerido.
            </small>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label class="form-control-label required" for="passwordConfirm">Confirmar Contraseña</label>
          <input type="password" class="form-control" name="passwordConfirm" id="passwordConfirm"
            formControlName="passwordConfirm" />
          <div *ngIf="myForm.get('passwordConfirm')!.invalid && (myForm.get('passwordConfirm')!.dirty || myForm.get('passwordConfirm')!.touched)">
            <small class="form-text text-danger" *ngIf="myForm.get('passwordConfirm')?.errors?.required">
              El campo es requerido.
            </small>
            <small class="form-text text-danger" *ngIf="!myForm.get('passwordConfirm')?.errors?.isMatching">
              Las Contraseñas no coinciden.
            </small>
          </div>
        </div>
      </div>
    </div>

    <div class="button-form">
      <button type="button" class="btn btn-secondary" (click)="previousState()">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;Volver
      </button>
      <button type="submit" [disabled]="myForm.invalid || isSaving" class="btn btn-primary">Guardar</button>
    </div>
  </form>
</div>