<form name="myForm" role="form" novalidate (ngSubmit)="onFilterChange()" [formGroup]="myForm">
    <div class="d-flex justify-content-between" [class.pointer]="header.sort"
        (click)="header.sort ? onSortChange(header.inputName) : null">
        {{ header.label}}
        <small class="ml-1" *ngIf="header.sort">
            <fa-icon icon="sort-up" *ngIf="sort[0] === 'DESC' && sort[1] === header.inputName">
            </fa-icon>
            <fa-icon icon="sort-down" *ngIf="sort[0] === 'ASC' && sort[1] === header.inputName">
            </fa-icon>
            <fa-icon icon="sort" *ngIf="sort[1] !== header.inputName"></fa-icon>
        </small>
    </div>
    <div class="input-group input-group-sm" [ngSwitch]="header.inputType">

        <input *ngSwitchCase="inputType.TEXT" type="text" class="form-control" placeholder="Filtrar"
            name="{{header.inputName}}" id="{{header.inputName}}" formControlName="{{header.inputName}}">
        <div *ngSwitchCase="inputType.TEXT" class="input-group-append">
            <button class="btn btn-outline-success d-sm-none" type="submit">
                <fa-icon icon="filter"></fa-icon>
            </button>
            <button class="btn btn-outline-secondary" type="button" (click)="clearInput(header.inputName)">
                <fa-icon icon="times"></fa-icon>
            </button>
        </div>

        <select *ngSwitchCase="inputType.BOOLEAN" (change)="onChange()" class="form-control" name="{{header.inputName}}"
            id="{{header.inputName}}" formControlName="{{header.inputName}}">
            <option [ngValue]="null">Todos</option>
            <option [value]="true">Si</option>
            <option [value]="false">No</option>
        </select>

        <select *ngSwitchCase="inputType.LIST" (change)="onChange()" class="form-control" name="{{header.inputName}}"
            id="{{header.inputName}}" formControlName="{{header.inputName}}">
            <option [ngValue]="null">Todos</option>
            <option [value]="item.id" *ngFor="let item of header.itemList">{{ item.value }}</option>
        </select>

        <!-- <div class="input-group" *ngSwitchCase="inputType.DATE">
            <input class="form-control" placeholder="yyyy-mm-dd" name="{{header.inputName}}" formControlName="{{header.inputName}}" ngbDatepicker
                #inputDate="ngbDatepicker" [firstDayOfWeek]="7" (ngModelChange)="onChange()"> 
            <div class="input-group-append">
                <button class="btn btn-primary" (click)="inputDate.toggle()" type="button" title="Ver Calendario">
                    <fa-icon icon="calendar"></fa-icon>
                </button>
            </div>
        </div> -->
    </div>
</form>