<table class="table table-responsive">
    <thead>
        <tr>
            <th scope="col" *ngFor="let header of table.headers">
                <app-table-header [header]="header" [sort]="sort" [myForm]="myForm"
                    (executeQuery)="executeQuery($event)">
                </app-table-header>
            </th>
            <th scope="col" *ngIf="hasButtons"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items">
            <td *ngFor="let header of table.headers">
                <app-table-body [header]="header" [item]="item"></app-table-body>
            </td>
            <td class="text-right" *ngIf="hasButtons">
                <span *ngFor="let button of table.buttons">
                    <button *hasPermission="button.permissions" type="button" (click)="button.onClickFunction(item)"
                        [class]="button.class"
                        [title]="button.titleWithFunction ? button.titleWithFunction(item) : button.title"
                        [disabled]="button.disabled ? button.disabled(item) : false">
                        <fa-icon [icon]="button.icon"></fa-icon>
                    </button>
                </span>
            </td>
        </tr>
    </tbody>
</table>
<app-paginate [page]="page" [totalPages]="totalPages" (executeQuery)="executeQuery($event)"></app-paginate>