.toast {
    position: absolute;
    right: 2%;
    opacity: 1;
    min-width: 400px;
    max-width: none;
    z-index: 100000;
}

.close {
    opacity: 1;
    text-shadow: none;
    color: white;
}

.toast-header {
    background-color: darkslategrey;
    color: white;
}