<div *ngIf="showErrorToast" class="toast bg-danger text-white" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <strong class="mr-auto">Error <fa-icon icon="exclamation"></fa-icon></strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close" (click)="closeAllToast()" title="Cerrar">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body">
        {{ errorMessage }}
    </div>
</div>

<div *ngIf="showSuccessToast" class="toast bg-success text-white" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <strong class="mr-auto">Éxito <fa-icon icon="exclamation"></fa-icon></strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close" (click)="closeAllToast()" title="Cerrar">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body">
        {{ successMessage }}
    </div>
</div>

<div *ngIf="showInfoToast" class="toast bg-info text-white" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <strong class="mr-auto">Info <fa-icon icon="exclamation"></fa-icon></strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close" (click)="closeAllToast()" title="Cerrar">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body">
        {{ infoMessage }}
    </div>
</div>