<div class="container">
  <h2>
    <button *hasPermission="['resourcesTypes.write']" type="button" [routerLink]="['new']" class="btn btn-primary btn-sm" title="Crear Tipo de Recurso">
      <fa-icon icon="plus"></fa-icon>
    </button> Tipos de Recursos
  </h2>

  <table class="table table-striped" aria-describedby="page-heading">
    <thead>
      <tr>
        <th scope="col">Descripción</th>
        <th scope="col">Activo</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let resourceType of resourcesTypes">
        <td>{{ resourceType.description }}</td>
        <td>
          <fa-icon *ngIf="resourceType.active" [icon]="['far', 'check-square']" class="text-success"></fa-icon>
          <fa-icon *ngIf="!resourceType.active" [icon]="['far', 'square']" class="text-danger outline"></fa-icon>
        </td>
        <td class="text-right">
          <button *hasPermission="['resourcesTypes.read']" type="button" [routerLink]="[resourceType.id, 'view']" class="btn btn-info btn-sm mr-1" title="Ver">
            <fa-icon icon="eye"></fa-icon>
          </button>

          <button *hasPermission="['resourcesTypes.write']" type="button" [routerLink]="[resourceType.id, 'edit']" class="btn btn-primary btn-sm mr-1" title="Editar">
            <fa-icon icon="pencil-alt"></fa-icon>
          </button>

          <button *hasPermission="['resourcesTypes.delete']" type="button" (click)="delete(resourceType)" class="btn btn-danger btn-sm mr-1" title="Eliminar">
            <fa-icon icon="times"></fa-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>