<div class="container">
  <h2>
    <button *hasPermission="['agendas.write']" type="button" [routerLink]="['./../agendas','new']"
      class="btn btn-primary btn-icon" title="Agregar Disponibilidades">
      <fa-icon icon="calendar-plus"></fa-icon>
    </button> Calendario
  </h2>

  <div class="row text-center">
    <div class="col-lg-8">
      <div class="btn-group">
        <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="agendaService.viewDate"
          (viewDateChange)="closeOpenMonthViewDay()">
          <fa-icon icon="arrow-left"></fa-icon>
        </div>
        <div class="btn btn-outline-primary" mwlCalendarToday [(viewDate)]="agendaService.viewDate" title="{{today}}"
          (click)="onCalendarChange()">
          Hoy
        </div>
        <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="agendaService.viewDate"
          (viewDateChange)="closeOpenMonthViewDay()">
          <fa-icon icon="arrow-right"></fa-icon>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <h3>{{ agendaService.viewDate | date: 'MMMM yyyy':'es' | titlecase }}</h3>
    </div>
  </div>
  <br />
  <div class="position-relative">
    <div *ngIf="loading"
      class="calendar-loading bg-dark position-absolute w-100 h-100 d-flex justify-content-center align-items-center">
      <div class="spinner-border text-light" role="status"></div>
    </div>
    <mwl-calendar-month-view [viewDate]="agendaService.viewDate" [events]="events"
      (beforeViewRender)="beforeMonthViewRender($event)" [cellTemplate]="customCellTemplate">
    </mwl-calendar-month-view>
  </div>
</div>

<ng-template #customCellTemplate let-day="day">
  <div class="cal-cell-top pointer" (click)="dayClicked()"
    [title]="getTotalBadge(day) + ' disponibilidades (Haz click para ver más)'">
    <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ getTotalBadge(day) }}</span>
    <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber': 'es' }}</span>
  </div>
  <div class="cal-events pl-2">
    <ng-container *ngFor="let item of day.events; let index = index">
      <button *ngIf="index < 10 && !isYesterdayEvent(item, day)" (click)="handleEvent(item)" type="button"
        [ngbPopover]="popContent" [popoverTitle]="popTitle" [openDelay]="100"
        class="btn mr-1 mb-1 font-xx-small {{getColor(item)}}" title="{{ item.title }}">
        {{ getFirstLetterFromStatus(item) }}
      </button>
    </ng-container>
  </div>
</ng-template>

<ng-template #popContent>
  <button type="button" *ngIf="canBook()" (click)="book()"
    class="btn btn-warning m-1" title="Reservar turno">
    <fa-icon icon="plus"></fa-icon>&nbsp;Reservar
  </button>

  <button type="button" *ngIf="canAbsent()"
    (click)="absent()" class="btn btn-dark m-1" title="Ausentar">
    <fa-icon icon="user-slash"></fa-icon>&nbsp;Ausentar
  </button>

  <button type="button" *ngIf="canCancel()"
    (click)="cancel()" class="btn btn-danger m-1" title="Cancelar">
    <fa-icon icon="ban"></fa-icon>&nbsp;Cancelar
  </button>

  <button type="button" *ngIf="canAttend()"
    (click)="attend()" class="btn btn-info m-1" title="Atender">
    <fa-icon icon="play"></fa-icon>&nbsp;Atender
  </button>

  <button type="button" *ngIf="canFinalize()"
    (click)="finalize()" class="btn btn-success m-1" title="Finalizar">
    <fa-icon icon="stop"></fa-icon>&nbsp;Finalizar
  </button>

  <button type="button" *ngIf="canDelete()" (click)="delete()"
    class="btn btn-danger m-1" title="Eliminar disponibilidad">
    <fa-icon icon="times"></fa-icon>&nbsp;Eliminar
  </button>

  <button type="button" *ngIf="canDesactivate()" (click)="desactivate()"
    class="btn btn-danger m-1" title="Desactivar disponibilidad">
    <fa-icon icon="calendar-times"></fa-icon>&nbsp;Desactivar
  </button>
</ng-template>
<ng-template #popTitle>
  <span *ngIf="agendaSelected">
    {{ agendaSelected.startDate | date: 'dd/MM/yyyy HH:mm' }}<br>
    {{ agendaSelected.resource.description }}<br>
    <span *ngIf="agendaSelected.lastAppointment">
      {{ agendaSelected.lastAppointment.customerBusinessName }} ({{ appointmentStatusTranslate[agendaSelected.lastAppointment.lastAppointmentStatus.status] }})
    </span>
  </span>
</ng-template>