<div class="container">
  <h2>
    <button *hasPermission="['agendas.write']" type="button" [routerLink]="['./../agendas','new']"
      class="btn btn-primary btn-icon" title="Agregar Disponibilidades">
      <fa-icon icon="calendar-plus"></fa-icon>
    </button> Calendario
  </h2>

  <div class="row text-center">
    <div class="col-md-8">
      <div class="btn-group">
        <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="agendaService.viewDate"
          (viewDateChange)="closeOpenMonthViewDay()">
          <fa-icon icon="arrow-left"></fa-icon>
        </div>
        <div class="btn btn-outline-primary" mwlCalendarToday [(viewDate)]="agendaService.viewDate" title="{{today}}"
          (click)="onCalendarChange()">
          Hoy
        </div>
        <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="agendaService.viewDate"
          (viewDateChange)="closeOpenMonthViewDay()">
          <fa-icon icon="arrow-right"></fa-icon>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ agendaService.viewDate | date: 'MMMM yyyy':'es' | titlecase }}</h3>
    </div>
  </div>
  <br />
  <div class="position-relative">
    <div *ngIf="loading"
      class="calendar-loading bg-dark position-absolute w-100 h-100 d-flex justify-content-center align-items-center">
      <div class="spinner-border text-light" role="status"></div>
    </div>
    <mwl-calendar-month-view [viewDate]="agendaService.viewDate" [events]="events" (dayClicked)="dayClicked()"
      (beforeViewRender)="beforeMonthViewRender($event)" (eventClicked)="handleEvent($event.event)"
      [cellTemplate]="customCellTemplate">
    </mwl-calendar-month-view>
  </div>
</div>

<ng-template #customCellTemplate let-day="day">
  <div class="cal-cell-top">
    <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal > 20 ? '+20' : day.badgeTotal }}</span>
    <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber': 'es' }}</span>
    <!-- <span class="cal-day-events cal-day-badge bg-success d-none" *ngIf="day.badgeTotal > 0">{{
      quantityAppointmentsReserved(day.events) }}</span> -->
  </div>
  <div class="cal-events">
    <ng-container *ngFor="let item of day.events; let index = index">
      <span 
        *ngIf="index < 20" 
        class="cal-event"

        title="{{item.title}}">
      </span>
    </ng-container>
  </div>
</ng-template>
<!-- 
[class.bg-success]="!item.available"
[class.bg-primary]="!item.selected"
[class.bg-info]="item.selected"  -->