<form *ngIf="holiday" name="deleteForm" (ngSubmit)="confirmDelete(holiday?.id!)">
    <div class="modal-header">
        <h4 class="modal-title">Confirmar operación</h4>

        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="cancel()" title="Cancelar">&times;</button>
    </div>

    <div class="modal-body">
        <p>
            ¿Está seguro que desea eliminar el Feriado <strong>{{ holiday.description }} ({{ holiday.date | date: 'dd/MM/yyyy' }})</strong>?
        </p>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()" title="Cancelar">
            <fa-icon icon="ban"></fa-icon>&nbsp;Cancelar
        </button>

        <button type="submit" class="btn btn-danger" title="Eliminar">
            <fa-icon icon="times"></fa-icon>&nbsp;Eliminar
        </button>
    </div>
</form>