<form name="myForm" role="form" novalidate (ngSubmit)="confirm()" [formGroup]="myForm">
    <div class="modal-header">
        <h4 class="modal-title">Confirmar operación</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="cancel()" title="Cancelar">&times;</button>
    </div>

    <div class="modal-body">
        <p>
            ¿Está seguro que desea Atender el Turno de <strong>{{ appointment.customerBusinessName }}</strong>?
        </p>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="form-control-label" for="observations">Observaciones</label>
                    <textarea type="text" class="form-control" name="observations" id="observations"
                        formControlName="observations"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()" title="Cancelar">
            <fa-icon icon="ban"></fa-icon>&nbsp;Cancelar
        </button>

        <button type="submit" [disabled]="isSaving" class="btn btn-primary" title="Confirmar">
            <fa-icon icon="check"></fa-icon>&nbsp;Confirmar
        </button>
    </div>
</form>