<div class="container">
  <h2>Detalle</h2>

  <dl *ngIf="user">
    <dt>Nombre</dt>
    <dd>{{ user.firstName }}</dd>
    <dt>Apellido</dt>
    <dd>{{ user.lastName }}</dd>
    <dt>Correo Electrónico</dt>
    <dd>{{ user.username }}</dd>
    <dt>Activo</dt>
    <dd>{{ user.active ? 'Si' : 'No' }}</dd>
  </dl>

  <h3>Perfiles</h3>
  <div class="row" *ngIf="user">
    <div class="col-sm-1" *ngFor="let profile of user.profiles">
      <span class="lead">
        <span class="badge badge-pill badge-primary">{{ profile.description }}</span>
      </span>
    </div>
  </div>

  <div class="button-form">
    <button type="button" class="btn btn-secondary" (click)="previousState()" title="Volver">
      <fa-icon icon="arrow-left"></fa-icon>&nbsp;Volver
    </button>

    <button *hasPermission="['users.write']" type="button" [routerLink]="['../../', user?.id, 'edit']"
      class="btn btn-primary" title="Editar">
      <fa-icon icon="pencil-alt"></fa-icon>&nbsp;Editar
    </button>
  </div>
</div>