<div class="container">
    <form name="myForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="myForm">
        <h2 *ngIf="!myForm.get('id')!.value">Crear Perfil</h2>
        <h2 *ngIf="myForm.get('id')!.value">Editar Perfil</h2>

        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label required" for="description">Descripción</label>
                    <input type="text" class="form-control" name="description" id="description"
                        formControlName="description" />
                    <div
                        *ngIf="myForm.get('description')!.invalid && (myForm.get('description')!.dirty || myForm.get('description')!.touched)">
                        <small class="form-text text-danger" *ngIf="myForm.get('description')?.errors?.required">
                            El campo es requerido.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-lg-1" *ngIf="myForm.get('id')!.value">
                <div class="form-group">
                    <label class="form-control-label" for="active">Activo</label>
                    <input type="checkbox" class="form-control checkbox-size-5" name="active" id="active"
                        formControlName="active" />
                </div>
            </div>
        </div>

        <h3>Permisos</h3>
        <div class="container">
            <div class="row h5 text-center d-none d-sm-flex mb-0">
                <div class="col-lg-3 border">
                    Entidad
                </div>
                <div class="col-lg-3 border">
                    Acción
                </div>
                <div class="col-lg-3 border">
                    Entidad
                </div>
                <div class="col-lg-3 border">
                    Acción
                </div>
            </div>
            <div class="row">
                <ng-container *ngFor="let permissionByEntity of permissionsByEntities">
                    <div class="col-lg-3 d-flex border">
                        <input type="checkbox" class="form-control checkbox-size-5 w-25" name="selectAll" id="selectAll"
                            (change)="selectAllEntity(permissionByEntity)" [checked]="permissionByEntity.selected" />
                        <span class="lead" [ngSwitch]="permissionByEntity.name"
                            (click)="selectAllEntity(permissionByEntity)">
                            <span *ngSwitchCase="'users'"
                                class="badge badge-pill badge-light border border-dark">Usuarios</span>
                            <span *ngSwitchCase="'profiles'"
                                class="badge badge-pill badge-light border border-dark">Perfiles</span>
                            <span *ngSwitchCase="'organizations'"
                                class="badge badge-pill badge-light border border-dark">Mi Organización</span>
                            <span *ngSwitchCase="'customers'"
                                class="badge badge-pill badge-light border border-dark">Clientes</span>
                            <span *ngSwitchCase="'resourcesTypes'"
                                class="badge badge-pill badge-light border border-dark">Tipos de
                                Recursos</span>
                            <span *ngSwitchCase="'resources'"
                                class="badge badge-pill badge-light border border-dark">Recursos</span>
                            <span *ngSwitchCase="'agendas'"
                                class="badge badge-pill badge-light border border-dark">Disponibilidades</span>
                            <span *ngSwitchCase="'appointments'"
                                class="badge badge-pill badge-light border border-dark">Turnos</span>
                            <span *ngSwitchCase="'holidays'"
                                class="badge badge-pill badge-light border border-dark">Feriados</span>
                        </span>
                    </div>
                    <div class="col-lg-3 border">
                        <div class="row" *ngFor="let action of permissionByEntity.actions; let index = index">
                            <div class="col-lg-12 d-flex">
                                <input type="checkbox" class="form-control checkbox-size-5 w-25"
                                    name="select + {{index}}" id="select + {{index}}"
                                    (change)="select(action.permission, permissionByEntity)"
                                    [checked]="action.permission['selected']" />
                                <span class="lead pointer" [ngSwitch]="action.action"
                                    (click)="select(action.permission, permissionByEntity)">
                                    <span *ngSwitchCase="'read'" class="badge badge-pill badge-info">Ver</span>
                                    <span *ngSwitchCase="'write'"
                                        class="badge badge-pill badge-primary">Actualizar</span>
                                    <span *ngSwitchCase="'delete'" class="badge badge-pill badge-danger">Eliminar</span>
                                    <span *ngSwitchCase="'book'" class="badge badge-pill badge-warning">Reservar</span>
                                    <span *ngSwitchCase="'absent'" class="badge badge-pill badge-dark">Ausentar</span>
                                    <span *ngSwitchCase="'cancel'" class="badge badge-pill badge-danger">Cancelar</span>
                                    <span *ngSwitchCase="'attend'" class="badge badge-pill badge-info">Atender</span>
                                    <span *ngSwitchCase="'finalize'"
                                        class="badge badge-pill badge-success">Finalizar</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="button-form mt-4">
            <button type="button" class="btn btn-secondary" (click)="previousState()" title="Cancelar">
                <fa-icon icon="ban"></fa-icon>&nbsp;Cancelar
            </button>
            <button type="submit" [disabled]="myForm.invalid || isSaving" class="btn btn-primary" title="Guardar">
                <fa-icon icon="save"></fa-icon>&nbsp;Guardar
            </button>
        </div>
    </form>
</div>