@import './../node_modules/bootstrap/dist/css/bootstrap-grid.min.css';
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@import '~angular-calendar/css/angular-calendar.css';

body {
  font-family: Helvetica, sans-serif;
}

@media screen and (min-width: 600px) {
  body {
    font-size: 14px;
  }
}

.container {
  margin-bottom: 50px;
}

@media screen and (max-width: 600px) {
  .form-public {
    width: 100% !important;
  }

  .input-group {
    min-width: 120px;
  }
}

.form-public {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

// .public-layout {
//     height: 100vh;
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

.button-form {
  border-top: lightgray 0.1rem solid;
  text-align: right;
  padding-top: 0.5rem !important;

  .btn {
    margin-left: 0.5rem !important;
  }
}

.required:after {
  content: " (*)";
  color: #dc3545;
}

.checkbox-size-5 {
  font-size: 5px;
  margin-left: -20px;
}

.appointmentStatus {
  width: 75px;
}

.pointer {
  cursor: pointer;
}

.btn-icon {
  width: 30px;
  height: 30px;
}

button > fa-icon > svg {
  font-size: smaller !important;
}

strong > fa-icon > svg {
  font-size: smaller !important;
}

.close {
  font-size: x-large !important;
}

button {
  padding: 0.25rem 0.5rem !important;
  font-size: 0.875rem !important;
  line-height: 1.5 !important;
  border-radius: 0.2rem !important;
}