@media (min-width: 991px) {
  .dropdown:hover>.dropdown-menu {
    display: block;
  }

  .navbar-toggle, .mobileNavbar {
    display: none !important;
  }
}

.dropdown-menu {
  border: 1px solid #343a40;
}

.dropdown-item {
  color: #343a40;
}

.dropdown-item:hover {
  background-color: #343a40;
  color: white;
}

#navbar-toggle-cbox:checked~.mobileNavbar {
  display: block;
}

#navbar-toggle-cbox {
  display: none
}
