
<nav class="navbar navbar-expand-sm bg-dark mb-2">
    <a class="navbar-brand" href="/schedule">
        <img src="/assets/images/icon.png" width="30" alt="Home">
    </a>

    <input type="checkbox" id="navbar-toggle-cbox">
    <label for="navbar-toggle-cbox" class="navbar-toggle text-white">
        <fa-icon icon="bars"></fa-icon>
    </label>

    <div class="navbar-collapse collapse mobileNavbar">
        <ul class="nav navbar-nav">
            <li>
                <a class="dropdown-item text-white" href="/schedule">Calendario</a>
                <a *hasPermission="['customers.read']" class="dropdown-item text-white" href="/customers">Clientes</a>
                <a *hasPermission="['profiles.read']" class="dropdown-item text-white" href="/profiles">Perfiles</a>
                <a *hasPermission="['resources.read']" class="dropdown-item text-white" href="/resources">Recursos</a>
                <a *hasPermission="['resourcesTypes.read']" class="dropdown-item text-white" href="/resources-types">Tipos de
                    Recursos</a>
                <a *hasPermission="['users.read']" class="dropdown-item text-white" href="/users">Usuarios</a>
                <a *hasPermission="['holidays.read']" class="dropdown-item text-white" href="/holidays">Feriados</a>
            </li>
            <li class="border-top">
                <a *hasPermission="['organizations.read']" class="dropdown-item text-white" href="/organizations">Mi
                    Organización</a>
                <a class="dropdown-item text-white" href="/users/password-change">Cambiar Contraseña</a>
                <a class="dropdown-item text-white" href="#" (click)="logout()">Cerrar Sesión</a>
            </li>
        </ul>
    </div>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <div class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <fa-icon icon="cog"></fa-icon>
                </div>
                <div class="dropdown-menu dropdown-menu-right mt-0" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/schedule">Calendario</a>
                    <a *hasPermission="['customers.read']" class="dropdown-item" href="/customers">Clientes</a>
                    <a *hasPermission="['profiles.read']" class="dropdown-item" href="/profiles">Perfiles</a>
                    <a *hasPermission="['resources.read']" class="dropdown-item" href="/resources">Recursos</a>
                    <a *hasPermission="['resourcesTypes.read']" class="dropdown-item" href="/resources-types">Tipos de
                        Recursos</a>
                    <a *hasPermission="['users.read']" class="dropdown-item" href="/users">Usuarios</a>
                    <a *hasPermission="['holidays.read']" class="dropdown-item" href="/holidays">Feriados</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <div class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <fa-icon icon="user"></fa-icon>
                    {{ user?.firstName }}
                </div>
                <div class="dropdown-menu dropdown-menu-right mt-0" aria-labelledby="navbarDropdown">
                    <small class="dropdown-item text-muted disabled">({{ user?.username }})</small>
                    <a *hasPermission="['organizations.read']" class="dropdown-item" href="/organizations">Mi
                        Organización</a>
                    <a class="dropdown-item" href="/users/password-change">Cambiar Contraseña</a>
                    <a class="dropdown-item" href="#" (click)="logout()">Cerrar Sesión</a>
                </div>
            </li>
        </ul>
    </div>
</nav>